<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>忘记密码 | 机械配件商城</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="./element-ui/index.css">
    <link rel="stylesheet" type="text/css" href="components/min-width-container.css"/>
    <link rel="stylesheet" type="text/css" href="components/header-simple.css">
    <link rel="stylesheet" type="text/css" href="components/footer-bottom.css">
    <link rel="stylesheet" type="text/css" href="components/footer-image.css">
    <style>
        .app-content {
            padding-left: 188px;
            padding-top: 50px;
            padding-bottom: 100px;
        }

        .app-content-form {
            width: 360px;
        }

        .app-content-form-item {
            display: flex;
            align-items: center;
            height: 64px;
        }

        .app-content-form-item > div:first-child {

        }

        .app-content-form-item > div:last-child {
            flex-grow: 1;
        }
    </style>
</head>
<body>
<div id="app">
    <header-simple></header-simple>
    <min-width-container>
        <div class="app-content">
            <div class="app-content-form m-t-20">
                <el-steps :active="2" align-center>
                    <el-step title="身份验证" description="已完成"></el-step>
                    <el-step title="密保问题验证" description="已完成"></el-step>
                    <el-step title="重置密码" description="进行中"></el-step>
                </el-steps>
                <br><br>
                <h5>请重置您的密码：</h5><br><br>
                <el-form ref="form" :model="form" :rules="rules" label-width="100px">
                    <el-form-item label="新密码:" prop="password_new">
                        <el-input size="mini" v-model="form.password_new"></el-input>
                    </el-form-item>
                    <el-form-item label="确认新密码:" prop="password_confirmed">
                        <el-input size="mini" v-model="form.password_confirmed"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" size="mini" @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>

        </div>
    </min-width-container>
    <footer-image></footer-image>
    <footer-bottom></footer-bottom>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./element-ui/index.js"></script>
<script src="components/min-width-container.js"></script>
<script src="components/header-simple.js"></script>
<script src="components/footer-bottom.js"></script>
<script src="components/footer-image.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data() {
            return {
                form: {
                    password_new: "",
                    password_confirmed: "",
                },
                acknowledge: "",
                rules: {
                    password_new: [
                        {required: true, message: '请输入新密码', trigger: 'blur'},
                        {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
                    ],
                    password_confirmed: [
                        {required: true, message: '请再次输入密码', trigger: 'blur'},
                        {
                            validator: (rule, value, callback) => {
                                if (this.form.password_new == this.form.password_confirmed) {
                                    callback();
                                } else {
                                    callback("两次输入的密码不一致");
                                }
                            },
                            trigger: 'blur',
                        }
                    ],
                }
            };
        },
        methods: {
            reset() {
                const temp_user = JSON.parse(sessionStorage.getItem("temp_user"));
                const pass = sessionStorage.getItem(("pass"));
                if (temp_user == null || pass == null || pass == false) {
                    this.$message.error("请先验证身份");
                    return;
                }
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        const params = new URLSearchParams();
                        params.append("newpwd", this.form.password_new);
                        params.append("userId", temp_user.id);
                        axios.post("/user/resetpassword.do", params).then(response => {
                            if (response.data.status === 0) {
                                sessionStorage.removeItem("temp_user");
                                this.$message({
                                    message: "修改成功",
                                    type: "success"
                                });
                                setTimeout(() => {
                                    window.location.href = "/login.html";
                                }, 2000);

                            } else {
                                this.$message.error(response.data.msg);
                            }
                        }).catch(err => {
                            console.log(err);
                            this.$message.error("连接服务器异常");
                        });
                    }
                });
            }
        }
    });

</script>
</body>
</html>